:root {
    --babyblue: #bdc8d3;
    --clay: #d98457;
    --offwhite:#fffcfc;
    --gotu:'Gotu', sans-serif;
    --garamond:'Cormorant Garamond', serif;
    --poppins:'Poppins', sans-serif;
    --baskerville:'Libre Baskerville', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:bolder;
    font-family:var(--baskerville);
}

h1 {
    font-size:275%;
}
h2 {
    font-size:250%;
}
h3 {
    font-size:220%;
}
h4 {
    font-size:180%;
}
h5 {
    font-size:130%;
}
body {
    background-color: var(--offwhite);
    font-family:var(--poppins);
}
/* Header styling*/
.header__cont {
    background-color: var(--babyblue);
    padding:35px;
    min-width:100%;
}
.header__break {
    width:50%;
    margin-left: 0;
  margin-right: 0;
}
/* Search aside styling*/
.nav__list {
    margin:5px;
}
.btn-outline-success:hover {
    /*background-color: var(--clay);
    border-color:var(--clay);*/
    border-color:var(--clay);
    color:var(--clay);
    background-color:var(--offwhite);
}
.btn-outline-success {
    /*border-color:var(--clay);
    color:var(--clay);*/
    color:var(--offwhite);
    background-color:var(--clay);
    border-color:var(--clay);
    
}
#search-history__button {
    width:65%;
}
/* Weather cards styling*/
.card {
    border-color:var(--babyblue);
    
}
#current-date {
    color:var(--clay);
}
.current-forecast__container {
    height:350px;
}
.future-forecast__container {
    height:300px;
    margin:auto;
}
#current-forecast__icon {
    width:90px;
    height:90px;
}
.forecast-img {
    width:50px;
    height:50px;
}